.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 4px;
}

.button__green {
    background: #15752A;
}

