.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  counter-reset:line-numbering;
  background:#2c3e50;
  padding:12px 0px 14px 0;
  color:#ecf0f1;
  line-height:140%;
}

.app-window {
  background: #0E1014;
  height: 800px;
  max-height: 800px;
  width: 848px;
  max-width: 848px;
  border-radius: 8px;
}

.app-header {
  background: #153575;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 8px 8px 0px 0px;
}

.app-header h1 {
  font-size: 2em;
  font-weight:bold;
}